<div ng-init="">
    <div class="table-responsive ng-scope">
        <table class="table table-striped table-condensed pull-down">
            <thead>
                <tr>
                    <th><a ng-click="sortBy('name')" href="javascript:;">Service</a></th>
                    <th><a ng-click="sortBy('browser')" href="javascript:;">EndPoint</a></th>
                </tr>
            </thead>
            <tbody id="">
                <tr ng-repeat="item in Item.properties.endpoints" class="ng-scope">
                    <td>{{Split(item,'.',1)}}</td>
                    <td>{{item}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
